{% spaceless %}
{{ '@AppBundle/Resources/public/css/block/infoband.block.html.css'|cssloader }}
<div class="infoband">
    <a href="#"><i class="fa fa-globe"></i> Tours</a>
    <a href="#"><i class="fa fa-bed"></i> Hotels</a>
    <a href="#"><i class="fa fa-utensils"></i> Resturants</a>
    <a href="#"><i class="fa fa-calendar-alt"></i> Events</a>
    <a href="#"><i class="fa fa-car"></i> Car</a>
</div>
{% endspaceless %}